**/.ipynb_checkpoints/
**/__pycache__/
/slurm_files/*.out
/snapshots/
/logs/*/
/calc_logprobs/slurm_files/*.out
/calc_logprobs/output/*/
/calc_logprobs/output_*/
/calc_logprobs/**/*.csv
/calc_logprobs/input/*/
/calc_logprobs/**/*.fa
/executables/*.sh
!/executables/example.sh
/calc_logprobs/executables/*.sh
!/calc_logprobs/executables/example.sh
/datasets/sequences/*.fa
*.swp

